/*
CSS control for parent/child info
by Bryan Snyder
MIT or Apache license... the whatever license
*/

        td.details-control {
            text-align: center;
            color: forestgreen;
            cursor: pointer;
        }

        tr.shown td.details-control {
            text-align: center;
            color: red;
        }

