/**
*
* Basic CSS for testing Datatables
* by Bryan Snyder
* no license required here
*
*/

/* Xray vision */
* { background-color: rgba(255,0,0,.2); }
* * { background-color: rgba(0,255,0,.2); }
* * * { background-color: rgba(0,0,255,.2); }
* * * * { background-color: rgba(255,0,255,.2); }
* * * * * { background-color: rgba(0,255,255,.2); }
* * * * * * { background-color: rgba(255,255,0,.2); }
* * * * * * * { background-color: rgba(255,0,0,.2); }
* * * * * * * * { background-color: rgba(0,255,0,.2); }
* * * * * * * * * { background-color: rgba(0,0,255,.2); }

/* Desktop styles */
.main-wrapper {
    margin: auto;
    width: 90%;
    padding-top: 25px;
    padding-left: 10%;
    padding-right: 10%;
}

/*
td {
    padding-left: 3px !important;
    padding-right: 3px !important;
}
*/

td.details-control {
    background: /* url('../resources/details_open.png')*/ no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: /* url('../resources/details_close.png')*/ no-repeat center center;
}


/* this style should be copied ato the page template or added to custom CSS panel for Gutenburg */

table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > td:first-child::before, table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > th:first-child::before {
    top: 0px !important;
    border-radius: 0px !important;
    box-shadow: 0 0 0px #fff !important;
}